<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Verification Using Email</title>
    <style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>
</head>
<body>
    <div class="login-form">
      <h1>Registration</h1>
      <h4 id="msg"></h4>
      <form id="FormSub">
          <label for="email">Email : </label>
          <input type="text" placeholder="Email" id="email" name="email"><br><br>
          <label for="password">Password : </label>
          <input type="text" placeholder="Password" id="password" name="password"><br><br>
          <label for="password">Retype Password : </label>
          <input type="text" placeholder="Retype Password" id="password2" name="password2"><br><br>
          <input type="submit" value="Submit">
      </form>
    </div>
    <script>
        document.getElementById('FormSub').addEventListener('submit',Send);
        function Send(e) {
            e.preventDefault();
            var email = document.querySelector('#email').value;
            var pass = document.querySelector('#password').value;
            var pass2 = document.querySelector('#password2').value;
            if(pass === pass2){
                fetch('/',{
                method: 'post',
                headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-type': 'application/json'
        },
        body: JSON.stringify({Email: email, Password: pass, Password2 : pass2})
            })
            .then((res)=>res.json())
            .then(data => {
                console.log(data)
            })
            } else {
                document.getElementById('msg').innerHTML = "Your Password not Match";
            }
        }
    </script>
</body>
</html>
